.cart-page {
  width: 96%;
  margin: auto;
  margin-top: 15px;
}
.cart-itemcontainer {
  width: 96%;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  grid-gap: 15px;
  margin: auto;
  margin-top: 15px;
}
.checkout {
  width: 100%;
}
.total {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 20px;
}
.checkoutbutton {
  width: 100%;
  background-color: black;
  color: white;
  padding: 3px;
}
.buttoncontainer {
  width: 50%;
  margin: auto;
}
@media (min-width: 600px) {
  .cart-page {
    width: 80%;
  }
  .cart-itemcontainer {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1000px) {
  .cart-page {
    width: 70%;
  }
}
